body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

#character-name {
    margin: 20px 0;
}

#radios {
    margin-bottom: 20px;
}

#lightsaber-color {
    margin-bottom: 20px;
}

button {
    display: block;
}

table {
    margin-top: 50px;
    border: 1px solid white;
}

th, td {
    border: 1px solid white;
    padding: 5px;
}